{% extends 'base.html.twig' %}

{% block title %}{{ 'main.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'main.hello' | trans }}</h1>
    <ul class="list-group mt-5">
        <li class="list-group-item list-group-item-action"><a href="{{ path('bookmarks_list') }}">{{ 'main.list' | trans }}</a></li>
        <li class="list-group-item list-group-item-action"><a href="{{ path('app_login') }}">{{ 'main.auth' | trans }}</a></li>
    </ul>
{% endblock %}
